<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tranfer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SVN-Gotham Black Italic.otf</string>
		<string>SVN-Gotham Black.otf</string>
		<string>SVN-Gotham Bold Italic.otf</string>
		<string>SVN-Gotham Bold.otf</string>
		<string>SVN-Gotham Book Italic.otf</string>
		<string>SVN-Gotham Book.otf</string>
		<string>SVN-Gotham Italic.otf</string>
		<string>SVN-Gotham Light Italic.otf</string>
		<string>SVN-Gotham Light.otf</string>
		<string>SVN-Gotham Regular.otf</string>
		<string>SVN-Gotham Thin Italic.otf</string>
		<string>SVN-Gotham Thin.otf</string>
		<string>SVN-Gotham Ultra Italic.otf</string>
		<string>SVN-Gotham Ultra.otf</string>
		<string>SVN-Gotham XLight Italic.otf</string>
		<string>SVN-Gotham XLight.otf</string>
		<string>SVN-Gotham Bold.ttf</string>
		<string>SVN-Gotham Light.ttf</string>
		<string>SVN-Cookies.ttf</string>
	</array>
</dict>
</plist>
